@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    margin: 0;
}

.app-container {
    font-family: 'Lato', sans-serif !important;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    display: flex;
}